@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
}
.link:hover{
  transition: all .5s linear;
  background-color: rgb(0,123,255) !important;
  border-radius: 5px;
}
.event:hover{
  cursor: pointer;
}
@media(max-width: 790px){
  .fc-today-button.fc-button.fc-button-primary{
    display: none !important;
  }
}
.checkboxContainer{
  text-align: center;
  margin-bottom: 5px;
}
.checkbox{
  display: inline !important;
  margin-right: 10px;
}
.labelForCompetitor{
  font-size: 20px !important;
}
.form-check-input{
  width: 15px !important;
  height: 15px !important;
}